<div class="text-center">
<h1>Skills Inventory</h1>
</div>

<div class="col-md-2 col-md-offset-5 text-center"
<nav class="navbar navbar-default">
<ul class="list-group">
  <li class="list-group-item list-group-item-info"><a href="/skills">Skills Index</a></li>
  <li class="list-group-item list-group-item-warning"><a href="/skills/new">New Skill</a></li>
</ul>
</nav>
</div>
