<form action="/skills/<%= @skill.id %>" method="post">
  <h1>Edit a skill:</h1>
  <input type="hidden" name="_method" value="PUT" />
  <input class="form-control input-lg" type='text' name='skill[title]' value="<%= @skill.title %>"/><br/>
  <textarea class="form-control" rows="3" name='skill[description]'><%= @skill.description %></textarea><br/>
  <input class='btn btn-success' type='submit'/>
</form>
