<form action="/skills" method="post">
  <h1>Enter a new skill:</h1>
  <input class="form-control input-lg" type='text' name='skill[title]'/><br/>
  <textarea class="form-control" rows="3" name='skill[description]'></textarea><br/>
  <input class='btn btn-success' type='submit' value='Submit'/>
</form>
